.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.song{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    background-color: aquamarine;
}

.direction:hover{
    color: white;
    background-color: maroon;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.LEILA{
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(239, 18, 18);
}

.FLETA{
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(173, 239, 18);
}

.CELIA{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(13, 215, 218);
}

.QUEEN{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(13, 215, 255);
}
.STREPH{
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(173, 239, 18);
}

.IOL{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(13, 215, 218);
}
.LEILA:hover,.FLETA:hover,.CELIA:hover,.QUEEN:hover,.STREPH:hover,.IOL:hover{
    box-shadow: 10px 10px 5px black;
    border: 5px solid rgb(230, 19, 47);
}


table,td,th{
    border: 1px solid black;
    width: 3%;
    text-align: center;
    padding: 10px;
    color:  rgb(41, 150, 62);
    border-collapse: collapse;

}

th{
    color:rgba(4, 1, 14, 0.925);
    background-color: #e12525;
}

tr:nth-child(even) {
    background-color: cornsilk;
  }

  li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    padding: 14px 16px;
  }



  ul {
    background-color:bisque;
    list-style-type: none;
    overflow: hidden;
  }

 

  li {
    float: left;
  }